*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    background-color: rgb(32,42,71);
    color: rgb(130, 107, 87);
}

main{
    background-image: url(/src/image/backgound-image);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(130, 107, 87);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.escolha{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32,42,71, 0.7);
    border-radius: 10px;
}

.escolha>h3{
    margin: 0px 20px;
    font-size: min(1.5rem, 5vw);
}
.flex{
    display: flex;
    flex-direction: column;
}

#data{
    height: 35px;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    margin: 10px 10px;
    border: 2px solid #733A2A;
    color: 	#733A2A;
    font-weight: bold;
    background-color: transparent;
}

#data:hover{
    background-color: rgba(196, 131, 131, 0.2);
}

#pesquisar{
    height: 35px;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0 20px;
    border: 2px solid #733A2A;
    color: 	#733A2A;
    font-weight: bold;
    background-color: transparent;
}
#pesquisar:hover{
    background-color: rgba(196, 131, 131, 0.2);
}

#mostraData{
    align-self: flex-end;
    margin: 10px 0px;
    background-color: rgba(32,42,71, 0.7);
    border-radius: 10px;
    padding: 10px;
}
#titulo{
    align-self: center;
    margin-bottom: 20px;
    text-align: center;
    font-size: min(2em, 7vw);
    background-color: rgba(32,42,71, 0.7);
    border-radius: 10px;
    padding: 15px;
}

#media{
    display: flex;
    justify-content: center;
    margin: 30px;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

iframe{
    width: 60vw;
    height: 33vw;
}

#divInformacao{
    align-self: center;
    width: 80%;
    text-align: justify;
    font-size: min(1.3rem, 5vw);
    line-height: 1.5;
    background-color: rgba(32,42,71, 0.7);
    border-radius: 10px;
    padding: 20px;
}

#fotoNasa{
    width: 50vw;
}

#imgCopyright{
    background-color: rgba(32,42,71, 0.7);
    border-radius: 10px;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(32,42,71);
    color: rgb(130, 107, 87);
}

@media screen and (max-width: 700px) {
    iframe{
        width: 90vw;
        height: 50vw;
    }

    #fotoNasa{
        width: 80vw;
    }

    #divInformacao{
        align-self: center;
        width: 95%;
        text-align: justify;
        font-size: min(1.3rem, 5vw);
        line-height: 1.5;
    }

    .escolha>h3{
        margin: 0px;
        text-align: center;
    }

    #titulo{
        margin-bottom: 0px;
    }
}